<h1>signup</h1>

<form accept-charset="UTF-8" action="" class="new_user ng-pristine ng-invalid ng-invalid-required" id="new_user" method="post" name="formData" ng-submit="signup(formData.$valid)" novalidate="novalidate" role="form">
      <div class="form-group">
        <label for="user_username">Username</label>
        <div class="row">
          <div class="col-sm-6">
            <input autofocus="autofocus" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength ng-valid-pattern" id="user_username" name="user[username]" ng-maxlength="10" ng-minlength="4" ng-model="user.username" ng-pattern="/^\w+$/" ng-required="true" required="required" type="text" value="">
            <p ng-show="formData['user[username]'].$error.required &amp;&amp; !formData['user[username]'].$pristine" class="help-block ng-hide">Username can't be empty</p>
            <p ng-show="formData['user[username]'].$error.minlength &amp;&amp; !formData['user[username]'].$pristine" class="help-block ng-hide">Username is too short.</p>
            <p ng-show="formData['user[username]'].$error.maxlength &amp;&amp; !formData['user[username]'].$pristine" class="help-block ng-hide">Username is too long.</p>
            <p ng-show="formData['user[username]'].$error.pattern &amp;&amp; !formData['user[username]'].$pristine" class="help-block ng-hide">Username can only contain letters and digits</p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="user_email">Email</label>
        <div class="row">
          <div class="col-sm-6">
            <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-minlength ng-valid-pattern" id="user_email" name="user[email]" ng-minlength="6" ng-model="user.email" ng-pattern="/([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})/" ng-required="true" required="required" type="email" value="">
            <p ng-show="formData['user[email]'].$error.pattern &amp;&amp; !formData['user[email]'].$pristine" class="help-block ng-hide">enter correct email</p>
            <p ng-show="formData['user[email]'].$error.required &amp;&amp; !formData['user[email]'].$pristine" class="help-block ng-hide">email can't be empty</p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label for="user_password">Password</label>
            <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-minlength" id="user_password" name="user[password]" ng-minlength="4" ng-model="user.password" ng-required="true" required="required" type="password">
            <p ng-show="formData['user[password]'].$error.required &amp;&amp; !formData['user[password]'].$pristine" class="help-block ng-hide">Password can't be empty</p>
            <p ng-show="formData['user[password]'].$error.minlength &amp;&amp; !formData['user[password]'].$pristine" class="help-block ng-hide">Password is to short (minimum is 4 characters)</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <!-- <input class="btn btn-primary" name="commit" ng-disabled="!formData.$valid" type="submit" value="Sign up" disabled="disabled"> -->
          <input class="btn btn-primary" name="commit" type="submit" value="Sign up">
        </div>
      </div>
</form>
